<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>{$Title}</title>
</head>
<style>
   .smarthome {
    height: 350px; /* Высота блока */
	margin-bottom: 10px;
    width: 350px; /* Ширина блока */
    /* overflow: scroll; /* Добавляем полосы прокрутки */
    background: #fc0; /* Цвет фона */
    /* padding: 7px; Поля вокруг текста */
    /* border: 1px solid #333;  Параметры рамки */
    /*background-color: #EEDDFF; */
  	border: 6px solid #7922CC;
  	border-radius: 2px;
   }
  </style>
    <body background="gray">
        <a href="#" class="link-secondary">Secondary link</a>
        <button type="button" class="btn btn-success" onclick="#">Success</button>
        Today is: <span th:text="${today}">13 February 2011</span>
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <a href="/">
                    <h1>Главная страница</h1>
                    </a>
                </div>
                <div class="col">
                    <a href="/h2-console">
                    <h1 >База данных</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    <div class="smarthome">
                        <iframe src="https://www.intek-m.ru/player/playerjs.html?file=/live/letnaya/s.m3u8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="smarthome">
                        <div id="pp_informer2"></div><script src="https://pogoda.perm.ru/informer.js?code=perm&s=rus&r=permskij_kraj&bgcolor=7394e0&scolor=97a6f2&tcolor=e2f8ff&type=2&font=Arial&width=300px&border=0px"></script>
                    </div>
                </div>
                <div class="col-md-auto" th:each="device : ${devices}">
                    <div class="smarthome">
                        <img th:src="@{${device.ico}}" width="255" height="255"/>
                        <h1 th:text="${device.type}"></h1>
                        <h1 th:text="${device.ip}"></h1>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="smarthome">
                        <h1>Добавить устройство</h1>
                        <a href="/add">
                            <img src="https://pngimg.com/uploads/plus/plus_PNG30.png" width="255" height="255"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </body>
</html>