<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>{$Title}</title>
</head>
<style>
   .smarthome {
    height: 400px; /* Высота блока */
	margin-bottom: 10px;
    width: 350px; /* Ширина блока */
    /* overflow: scroll; /* Добавляем полосы прокрутки */
    /* background: ; /* Цвет фона */
    /* padding: 7px; Поля вокруг текста */
    /* border: 1px solid #333;  Параметры рамки */
    /*background-color: #EEDDFF; */
  	border: 2px solid gray;
  	border-radius: 10px;
   }
   .smarthome-text{
   font-size: 30px
   }
  </style>
    <body background="gray">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <a href="/">
                    <h1>Главная страница</h1>
                    </a>
                </div>
                <div class="col">
                    <a href="/h2-console">
                    <h1 >База данных</h1>
                    </a>
                </div>
                <div class="col">
                    <h3>Сегодня: <span th:text="${today}">13 February 2011</span></h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-auto bg-transparent">
                    <div class="smarthome" style="border: 0px">
                        <iframe src="https://www.intek-m.ru/player/playerjs.html?file=/live/letnaya/s.m3u8" frameborder="0" allowfullscreen></iframe>
                        <iframe src="https://www.intek-m.ru/player/playerjs.html?file=/live/letnaya/s.m3u8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-auto bg-transparent">
                    <div class="smarthome" style="border: 0px">
                        <center>
                            <div id="pp_informer1"></div><script src="https://meteogu.ru/informers.js?code=perm&s=rus&r=permskij_kraj&bgcolor=EE5E00&scolor=FF9881&tcolor=FFFFFF&type=1&font=Arial&width=350px&border=0px&radius=10px&shadow=1&gradient=0&graph=1"></script>
                        </center>
                    </div>
                </div>
                <div class="col-md-auto" th:each="device : ${devices}">
                    <center>
                    <div class="smarthome bg-primary bg-gradient smarthome-text">
                        <img th:src="@{${device.ico}}" width="200" height="200"/><br>
                            Тип:<span th:switch="${device.type.name()}"><br>
                                <text th:case="'TEMP'">Температура</text>
                                <text th:case="'HUMI'">Влажность</text>
                                <text th:case="*"><text th:text="device.type.name()"></text></text>
                                </span><br>
                            IP: <text th:text="${device.ip}"></text><br>
                            Значение: <text th:text="${device.lastdeviceData}"></text>
                            <span th:switch="${device.type.name()}">
                                <i th:case="'TEMP'">°</i>
                                <i th:case="'HUMI'">%</i>
                                <i th:case="*">%</i>
                            </span>
                    </div>
                    </center>
                </div>
                <div class="col-md-auto" th:each="relay : ${relayDevices}">
                    <center>
                        <div class="smarthome bg-primary bg-gradient smarthome-text">
                            <img th:src="@{${relay.ico}}" width="200" height="200"/><br>
                            Тип: Реле<br>
                            IP: <text th:text="${relay.ip}"></text><br>
                            Состояние: <text th:text="${relay.state}"></text>
                            <span th:switch="${relay.state}">
                                <i th:case="true">Включено</i>
                                <i th:case="false">Выключенно</i>
                            </span>
                            <button type="button" class="btn btn-success">Переключить</button>
                        </div>
                    </center>
                </div>
                <div class="col-md-auto">
                    <div class="smarthome bg-primary bg-gradient">
                        <center>
                        <h1>Добавить устройство</h1>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Добавить
                            </button>
                            <div class="dropdown-menu">
                                <form class="px-4 py-3">
                                    <div class="form-group">
                                        <label for="exampleDropdownFormEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleDropdownFormPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Добваить</button>
                                </form>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <script>
        var timeReload = 1;//время в минутах
        timeReload = timeReload*60;
        var timenow=0;

        function isReload()
        {
        timenow++;
        if (timenow>=timeReload) {
        timenow=0;

        document.location.reload();
        }
        }

        var t=setInterval("isReload()",1000);

        function MyEvent(event) {
        event = event || window.event;
        timenow=0;

        }

        document.onclick = MyEvent;//клик
        document.onkeypress = MyEvent;//нажатие клавиш клавиатуры

        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </body>
</html>